@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    .overlay {
        @apply absolute;
    }
    .overlay * {
        @apply transition-all duration-200;
    }
    .overlay.hoverable>* {
        @apply opacity-0;
    }
    .overlay.hoverable:hover>* {
        @apply opacity-100;
    }
    .overlay.video {
        @apply absolute transform bg-blue-200 bg-no-repeat bg-center w-20 h-20 rounded-full flex justify-center items-center -translate-x-1/2 -translate-y-1/2;
    }
    .hero .hero-image,
    .hero .hero-caption {
        min-height: 90vh;
    }
    .hero .hero-cta {
        @apply w-12 h-12;
        transform: tranlateX(-75px) translateY(-50%);
        background-size: 37.5%;
    }
    .hero .hero-img {
        @apply w-full h-full;
    }
    .modal {
        padding: 30px;
        left: 50%;
        top: 50%;
        position: fixed;
        z-index: 500;
        background: rgb(233, 233, 233);
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
    }
    .modal.size-m {
        width: 600px;
        height: 400px;
    }
    .modal.size-l {
        width: 700px;
        height: 500px;
    }
    .modal.size-s {
        width: 500px;
        height: 300px;
    }
    .modal-bg {
        position: fixed;
        height: 100%;
        width: 100%;
        background-color: #000;
        opacity: 0.5;
        top: 0;
        left: 0;
        z-index: 100;
    }
    .modal-close {
        color: #b1b0ac;
        font-size: 30px;
        line-height: .5;
        position: absolute;
        top: 10px;
        right: 10px;
        font-weight: bold;
        cursor: pointer;
    }
    .modal-close:hover {
        color: #e72626;
    }
    .card .card-shadow {
        @apply transition duration-300 shadow-none h-full;
    }
    .card:hover .card-shadow {
        @apply shadow-lg;
    }
    .card:hover .card-btn {
        @apply bg-gray-700 opacity-35 z-50;
    }
    a.cart svg g circle.dot {
        @apply hidden;
    }
    a.cart.cart-filled svg g circle.dot {
        @apply block;
    }
    /* breadcrumb */
    ul.breadcrumb {
        @apply flex flex-row items-center text-base;
    }
    ul.breadcrumb li:not(:last-child):after {
        content: '/';
        @apply px-4;
    }
    ul.breadcrumb li:not(:last-child) a {
        @apply font-light;
    }
    ul.breadcrumb li:last-child a {
        @apply font-semibold;
    }
    .active {
        @apply bg-black bg-opacity-35;
    }
    /* slide show */
    .slider {
        @apply flex my-4 flex-col;
    }
    .slider .thumbnail {
        @apply w-screen order-last -mx-2 overflow-auto flex pl-4;
    }
    .slider .thumbnail .item {
        @apply rounded-lg bg-gray-100 relative mb-4 cursor-pointer;
        width: 106px;
        height: 106px;
    }
    .slider .thumbnail .item:after {
        content: "";
        @apply transition duration-200 absolute inset-0 bg-black bg-opacity-0 border-2 border-black border-opacity-0 rounded-lg;
    }
    .slider .thumbnail .item.selected:after {
        @apply bg-opacity-35 border-opacity-100;
    }
    .slider .preview {
        height: 320px;
        width: 335px;
    }
    .success-img {
        width: 260px;
        height: 260px;
    }
    .img-empty {
        width: 250px;
        height: 100px;
    }
}

@screen md {
    .hero .hero-image,
    .hero .hero-caption {
        min-height: auto;
    }
    .hero .hero-cta {
        @apply w-16 h-16;
        background-size: auto;
    }
    .slider {
        @apply flex-row;
    }
    .slider .thumbnail {
        @apply w-auto order-first block overflow-visible pl-0;
    }
    .slider .preview {
        height: 609px;
        width: 560px;
    }
    .success-img {
        width: 500px;
        height: 500px;
    }
    .img-empty {
        width: 300px;
        height: 130px;
    }
}

@layer utilities {
    .stretched-link {
        @apply absolute inset-0 z-10 cursor-pointer;
    }
    .grid {
        grid-auto-flow: dense;
        grid-auto-rows: minmax(180px, auto);
    }
}

button[disabled] {
    @apply bg-gray-300 text-gray-400 cursor-not-allowed;
}